*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --yellow-main:#fed700;
    --gray-bgr:#ececec;
    --aqua-color:rgb(16, 233, 233);
}
html{
    font-size: 100%;
    scroll-behavior: smooth;
}
.btn{
    background-color: var(--yellow-main);
    color: white;
    font-weight: bold;
    font-size:20px;
    padding:10px 10px;
    border-radius:15px;
    cursor: pointer;
    outline: none;
    border:none;

    
}

a{
    text-decoration: none;
    color: #333;
}
ul,li{
    list-style: none;
}
body {
    font-family:"Roboto Condensed", sans-serif;
}

img{
    width: 100%;
    object-fit:cover;
}
.wrapper{
    background-color: var(--gray-bgr);
}
.text-wrap{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
 
   -webkit-box-orient: vertical;
}
.text-wrap1{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */

   -webkit-box-orient: vertical;
}
.hidden{
    opacity: 0;
    visibility: hidden;
}

.hidden-header{
    transform: translateY(-74.4px)
}

/* ====================== HEADER ======================= */

/* INDEx */
#header{
    box-shadow: 0 10px 10px rgba(128, 128, 128, 0.315);
    z-index: 9999;
    
    width: 100%;
    position: fixed;
    
    transition: .3s;
}

.header-wrapper {
    
}
.header-top{
    padding: 10px 0;
    background-color: #fff;
}
.header-top-wrapper{
    max-width:1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .header__logo{
        width: 12%;
    }
    .header__search{
        width:65%;
        display: flex;
        justify-content: space-between;
    }
        .header__search-input{
            height:45px;
            flex:1;
            outline: none;
            border: 1px solid #35353533;
            border-radius: 20px 0 0 20px;
            
            box-shadow: inset 0 0 2px  rgba(128, 128, 128, 0.315);
            padding-left: 10px;
        }
        .header__search-input:hover{
            box-shadow:unset;
        }
        .header__search-input:focus{
            box-shadow:0 0 4px rgba(128, 128, 128, 0.315);
        }
        .header__search-search{
            width: 12%;
            outline:none;
            border: none;
            background:var(--yellow-main);
            border-radius: 0 20px 20px  0;
            cursor: pointer;
            font-weight: bold;
            font-size:13px;
        }
        .header__search .fa-search{
            margin-right: 3px;
        }
    .header__cart{
        --item-width:40px;
        width:var(--item-width);
        height:var(--item-width);
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        line-height: var(--item-width);
        border: 2px solid var(--yellow-main);
        position: relative;
    }

    .header__cart__popup{
        z-index: 9999;
        position: absolute;
        top: 100%;
        left: -163px;
        width: 400px;
        cursor:default;
        padding-top: 18px;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s, visibility .3s;
    }
    .header__cart:hover .header__cart__popup{
        opacity: 1;
        visibility: visible;
    }
    .header__cart__popup:before{
        content: "";
        position: absolute;
        background-color: white;
        top: 10px;
        left: 173px;
        width: 17px;
        height: 17px;
        box-shadow: 0 0px 10px #ccc;
        transform: rotate(45deg);
        z-index: 2;
        
    }
    .header__cart__popup>div{
        background-color: white;
        border-radius:5px;
        /* border: 1px solid var(--yellow-main); */
        box-shadow: 0 0px 10px #ccc;
        padding-bottom: 15px;
        text-align: initial;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .header__cart__title{
        position:relative;
        z-index: 8;
        background-color:white;
        color: #b4b4b4;
        text-align: initial;
        padding:5px 15px;
        border-radius: 5px 5px 0 0;
    }
    .header__cart__item{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        line-height:initial;
        padding:10px

    }
    .header__cart__item:hover{
        background-color: rgba(128, 128, 128, 0.212);
    }
    .header__cart__item-img{
        width: 18%;
        border: 1px solid #cecece;
        display: inherit;
    }
    .header__cart__item-img img{
        
    }
    .header__cart__item-name{
        align-self: start;
        padding:0 10px;
        
    }
    .header__cart__item-price{
        width: 28%;
        font-weight: bold;
        align-self: start;
    }
    .btn-tocart{
        border-radius: 5px;
        padding:0 5px;
        margin-top:15px;
    }

    .header__cart::before{
        content: "3";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: rgb(255, 73, 73);
        top: -10px;
        right: -12px;
        border-radius:50%;
        font-size:10px;
        line-height:18px;
        color:white;
    }

    .header__user{
        display: flex;
        width: 15%;
        justify-content: space-between;
        align-items: center;
        background-color: var(--yellow-main);
        border-radius:20px;
        padding:1px 2px;
    }
        .header__user-ava{
            --item-width:40px;
            display: flex;
            align-items: center;
            overflow: hidden;
            width:var(--item-width);
            height:var(--item-width);
            border-radius:50%;
            transform: translateY(0.5px);
        }
        .header__user-name{
            flex: 1;
            padding-left: 10px;
            font-weight: bold;
            font-size:13px;
        }
        .header__user-moreinfo{
            padding: 0 15px;
            cursor: pointer;
            font-size:20px;
        }
.header-bottom{
    
    
    width: 100%;
    background-color:var(--yellow-main);
    
    
}
    .header__nav{
        margin:auto;
        max-width: 1200px;
    }
    .header__nav-wrapper{
        display:flex;
    }
    .nav-item{
        flex-grow: 1;
        position: relative;
    }
    .nav-item::before{
        content: "";
        position: absolute;
        
        height: 4px;
        top: 0;
        left: 50%;
        background-color: var(--aqua-color);
        width: 0;
        transition: width .3s, left .3s;
    }
    .nav-item:hover::before{
        
        left:0;
        width: 100%;
    }
    
    .nav-item>a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:10px 0
    }
    .nav-item>a>i{
        font-size:20px;
        margin-bottom: 5px;
    }
    .subnav{
        position: absolute;
        width: max-content;
        border-radius: 5px;
        left: 0;
        top: 100%;
        background: white;
        box-shadow:  0 4px 6px #ccc;;
        text-align: start;
        padding: 15px 0;

        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;

        
    }
    .nav-item:hover .subnav{
        opacity: 1;
        visibility: visible;
        z-index: 999;
    }
    .subnav li{
        padding:5px 20px;
        font-size:12px;
        
    }
    .subnav li a{
        transition:color .2s;
    }
    .subnav li a:hover{
        color: var(--yellow-main);
    }
    .subnav h4:first-child{
        font-weight: bold;
        padding:5px 20px;
    }
    

/* ====================== MAIN =========================*/
#main{
    width:100%;
    padding-top: 168px ;
}

.scroll-top{
    position: fixed;
    right: 3%;
    bottom: 100px;
    color: var(--yellow-main);
    font-size:46px;
    transform: translateX(-3px);
    transition: opacity .2s, visibility .2s;
    

}
.scroll-top a{
    color: inherit;
    
}
.scroll-call{
    position: fixed;
    display: flex;
    align-items: center;
    text-align: start;
    right: 3%;
    bottom: 200px;
    border-radius: 25px;
    background-color: #35af45;
    
    height: 50px;
    color: white;
    z-index: 99;
    width: 50px;

    cursor: pointer;
    transition:width 0.3s;
    overflow: hidden;

    box-shadow: 0 0 10px  #8f8f8f;
}
.scroll-call:hover{
    width: 200px;
}
.scroll-call span{
    
    position: absolute; 
    width: 160px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    padding: 0 20px;
    opacity: 0;
    visibility: hidden;
    transition:opacity .3s,visibility .3s;
}
.scroll-call:hover span{
    opacity: 1;
    visibility: visible;
}

.scroll-call::before{
    font-family: "Font Awesome 5 Free";
     font-weight: 900; 
     content: "\f095";
     position: absolute;
     top: 50%;
     right: 17px;
     transform: translateY(-50%);
}

.content{
    max-width: 1200px;
    margin: auto;
}
.section{
    margin-bottom: 25px;
    background-color: white;
}
.section.items{
    padding: 15px;
    /* border: 1px solid #cecece; */
    
    border-radius: 5px;
}
.section.product-info{
    padding: 15px;
    /* border: 1px solid #cecece; */
    
    border-radius: 5px;
}
.section.shop-info{

}
.banner{

}
.section.ad{
    overflow: hidden;
    position: relative;
    background-color: transparent;
}
.section.ad::before{
    content:"";
    position: absolute;
    width: 200px;
    height: 600px;
    transform: rotate(130deg);
    background-image:linear-gradient(to left,rgba(255,255,255,0),rgba(255, 255, 255, 0.404));
    top: -175px;
    left: -250px;
    transition: left 0s ;
}
.section.ad:hover::before{
    transition: left .6s ;
    left: 1300px;
}
.section.ad img{
    border-radius: 5px;
}
.section.ad a{
    display: block;
}
.ad{

}
.items{

}
.section-title{
    padding:16px 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    display: flex;
    /* justify-content:space-between; */
    align-items:center;
    border-radius:5px;
    border: 1px solid #cecece;
}
.section-title h2:first-of-type{
    margin-right: auto;
}
.section-title a{
    text-transform: capitalize;
    transition: color 0.3s;
    padding-left: 15px;
    padding-right: 11px;
    

}
.section-title a:not(:first-of-type){
    text-transform: capitalize;
    transition: color 0.3s;
    border-left: solid 1px #9494948c;
    

}
.section-title a:hover{
    color: var(--yellow-main);

}

.carousel-item{
    border: 1px solid #cecece;
    border-radius:5px;

}
.carousel-item__image{
    display: inherit;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    background:white;
    display: flex;

}
.carousel-item__image img{
    transition: transform 0.5s;
    flex-shrink: 1;
}
.carousel-item__image img:hover{
    transform: scale(1.1);
}
.carousel-item__bot-wrapper{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:white;
    border-radius: 0 0 5px 5px ;

}
    .carousel-item__title{
        margin-bottom:10px;
    }

    .carousel-item__price{
        margin-bottom:15px;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }
    .carousel-item__price .fa-truck{
        color:rgb(48, 205, 96);
        position: relative;
    }
    
    .carousel-item__raiting{
        
        margin-bottom:10px;
    }
    .raiting-starts{
        color:var(--yellow-main);
    }
    .carousel-item__add-to-cart{
        align-self: flex-end;
    }

    .btn-buy{
        border-radius: 5px;
        transition: box-shadow .3s,transform .3s;
    }
    .btn-buy:hover{
        box-shadow: 0 3px 0 var(--aqua-color);
        transform: translateY(-3px);
    }
    .btn-buy:active{
        box-shadow:unset;
        transform: translateY(0);
    }
/* =========================== FOOTER =========================== */
#footer{
    width: 100%;
}
.footer-wrapper{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    border-radius: 5px 5px 0 0 ;
}
.footer-top{
    display: flex;
    background: white;
    justify-content: space-between;
}
.footer-top__item{
    display: flex;
    align-items: center;
    padding: 15px;
}
.footer-top__item-icon{
    width: 18%;
}
.footer-top__item-title{
    padding-left: 10px;
    line-height:25px;
    
}
.footer-top__item-title span{
    font-size: 14px;
}
.footer-midle{
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 247, 247);
}
.footer-midle__item{
    padding: 20px 15px;
    font-size: 14px;
    
}

.footer-midle__item-title{
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
}
.footer-midle__item-content{
    
}
.footer-midle__item-content ul{
    line-height: 30px;
    
}
.footer-bottom{
    background-color: white;
    padding:15px ;
    padding-bottom: 100px;
}
.footer-bottom__title{
    font-weight: 600;
    margin-bottom: 15px;
}
.footer-bottom__content{
    font-size: 14px;
    color:#818181;
    line-height: 30px;
}

/* PRODUCT INFO */


.product-info{
    display: flex;
}
.product-info__left{
    width: 40%;
    
}
.product-info__left-wrapper{

}
.carousel-main{

}
.item-img-info{
}

.item-img-info-mini{

}

.product-info__right{
    width: 60%;
    padding: 10px;
}
.product-info__title{
    margin-bottom: 20px;
}
.product-info__rating{
    display: flex;
    margin-bottom: 20px;
}
.product-info__rating div:not(:first-child){
   margin-left: 10px;
   border-left: 2px solid #cecece;
   padding:0 10px;
}
.raiting-count{
    
}
.raiting-count span{
    color: #8a8a8a;
}
.products-sold{

}
.products-sold span{
    color: #8a8a8a;
}
.product-info__right .carousel-item__price{
   
    justify-content: unset;
    align-items: center;
}
.product-info__right .carousel-item__price .fa-truck{
   
    margin-left:20px;
}
.product-info__product-options{

}
.color-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;

}
.color-options {
}

.btn-option{
    background-color: transparent;
    border: 2px solid #cecece;
    border-radius: 5px;
    padding:0;
    color: #333;
    font-size:12px;
    padding:5px;
}
.btn-option:focus{
    border: 2px solid var(--yellow-main);
}
.quantily-options{

}
.quantily-box{

}

.product-info__buy-or-addtocart{

}