*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
    
}
a{
    text-decoration: none;
    color: #333;
}
ul,li{
    list-style: none;
}
body {
    font-family:"Roboto Condensed", sans-serif;
}
:root{
    --yellow-main:#fed700;
    --gray-bgr:#ececec;
    --aqua-color:rgb(16, 233, 233);
}
img{
    width: 100%;
    object-fit:cover;
}
.wrapper{
    background-color: #cecece;
}


#header{
    width: 100%;
    background-color: #fff;
}
.header-wrapper{

}
.header-top{
    padding: 10px 0;
}
.header-top-wrapper{
    max-width:1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .header__logo{
        width: 12%;
    }
    .header__search{
        width:65%;
        display: flex;
        justify-content: space-between;
    }
        .header__search-input{
            height:45px;
            flex:1;
            outline: none;
            border: 1px solid #35353533;
            border-radius: 20px 0 0 20px;
            
            box-shadow: inset 0 0 2px  rgba(128, 128, 128, 0.315);
            padding-left: 10px;
        }
        .header__search-input:hover{
            box-shadow:unset;
        }
        .header__search-input:focus{
            box-shadow:0 0 4px rgba(128, 128, 128, 0.315);
        }
        .header__search-search{
            width: 12%;
            outline:none;
            border: none;
            background:var(--yellow-main);
            border-radius: 0 20px 20px  0;
            cursor: pointer;
            font-weight: bold;
            font-size:13px;
        }
        .header__search .fa-search{
            margin-right: 3px;
        }
    .header__cart{
        --item-width:40px;
        width:var(--item-width);
        height:var(--item-width);
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        line-height: var(--item-width);
        border: 2px solid var(--yellow-main);
    }
    .header__user{
        display: flex;
        width: 15%;
        justify-content: space-between;
        align-items: center;
        background-color: var(--yellow-main);
        border-radius:20px;
        padding:1px 2px;
    }
        .header__user-ava{
            --item-width:40px;
            display: flex;
            align-items: center;
            overflow: hidden;
            width:var(--item-width);
            height:var(--item-width);
            border-radius:50%;
            transform: translateY(0.5px);
        }
        .header__user-name{
            flex: 1;
            padding-left: 10px;
            font-weight: bold;
            font-size:13px;
        }
        .header__user-moreinfo{
            padding: 0 15px;
            cursor: pointer;
            font-size:20px;
        }
.header-bottom{
    width: 100%;
    background-color:var(--yellow-main);
}
    .header__nav{
        margin:auto;
        max-width: 1200px;
    }
    .header__nav-wrapper{
        display:flex;
    }
    .nav-item{
        flex-grow: 1;
        position: relative;
    }
    .nav-item::before{
        content: "";
        position: absolute;
        
        height: 4px;
        top: 0;
        left: 50%;
        background-color: var(--aqua-color);
        width: 0;
        transition: width .3s, left .3s;
    }
    .nav-item:hover::before{
        
        left:0;
        width: 100%;
    }
    
    .nav-item>a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:10px 0
    }
    .nav-item>a>i{
        font-size:20px;
        margin-bottom: 5px;
    }
    .subnav{
        position: absolute;
        width: max-content;
        border-radius: 5px;
        left: 0;
        top: 100%;
        background: white;
        box-shadow:  0 4px 6px #ccc;;
        text-align: start;
        padding: 15px 0;

        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;
    }
    .nav-item:hover .subnav{
        opacity: 1;
        visibility: visible;
    }
    .subnav li{
        padding:5px 20px;
        font-size:12px;
    }
    .subnav li a{
        transition:color .2s;
    }
    .subnav li a:hover{
        color: var(--yellow-main);
    }
    .subnav h4:first-child{
        font-weight: bold;
        padding:5px 20px;
    }
    


#main{

}
#footer{

}
